<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Converter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="test">Unit Converter</h1>

      <nav class="tabs">
        <a href="/length">Length</a>
        <a class="active" href="/weight">Weight</a>
        <a href="/temperature">Temperature</a>
      </nav>

      <form action="/weight" method="post" class="{{FORM_CLASS}}">
        <div class="row">
          <label for="value">Enter the weight to convert:</label>
          <input type="number" name="value" value="{{VALUE}}" required />
        </div>

        <div class="row">
          <label for="from">Unit to convert from:</label>
          <select name="from" id="from">
            <option value="">Please choose a unit...</option>
            <option value="mg">Milligram</option>
            <option value="g">Gram</option>
            <option value="kg">Kilogram</option>
            <option value="oz">Ounce</option>
            <option value="lb">Pound</option>
          </select>
        </div>

        <div class="row">
          <label for="to">Unit to convert to:</label>
          <select name="to" id="to">
            <option value="">Please choose a unit...</option>
            <option value="mg">Milligram</option>
            <option value="g">Gram</option>
            <option value="kg">Kilogram</option>
            <option value="oz">Ounce</option>
            <option value="lb">Pound</option>
          </select>
        </div>

        <button type="submit">Convert</button>
      </form>

      <div class="result {{RESULT_CLASS}}">
        <p>Result of your calculation</p>
        <span class="txt">{{VALUE}}{{FROM}} = {{RESULT_TEXT}}{{TO}}</span>

        <a href="/weight">
          <button>Reset</button>
        </a>
      </div>
    </div>
  </body>
</html>
